body {
  margin: 0;
  min-height: 100vh;

  background-image: url("DANAMEC.png");
  background-size: 1366px 768px;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #21113a;

  font-family: Georgia, serif;
}
nav {
  position: absolute;
  top: 90px;
  left: 30px;
  width: 280px;
}
