body {
  margin: 0;
  min-height: 100vh;

  background-image: url("DANAMEC.png");
  background-size: 1366px 768px;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #21113a;

  font-family: Georgia, serif;
}
nav {
  position: absolute;
  top: 100px;
  left: 20px;
  width: 300px;
}
main {
  position: absolute;
  top: 145px;
  left: 420px;
  width: 540px;
}
footer {
  position: absolute;
  bottom: 20px;
  left: 420px;
}
nav a {
  color: #3b205c;
  text-decoration: none;
  margin-right: 12px;
  font-size: 16px;
}

nav a:hover {
  color: #8b5aa8;
}
nav {
  position: absolute;
  top: 100px;
  left: 20px;
  width: 320px;
}
