body {
  margin: 0;
  min-height: 100vh;

  background-image: url("DANAMEC.png");
  background-size: 1366px 768px;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #21113a;

  font-family: Georgia, serif;
}


/* REDES SOCIALES */

.redes {
  position: absolute;
  top: 200px;
  left: 25px;
  width: 300px;
}

.redes h3 {
  color: #3b205c;
  font-size: 20px;
  margin-bottom: 12px;
}

.redes a {
  color: #3b205c;
  text-decoration: none;
  margin-right: 10px;
  font-size: 16px;
}

.redes a:hover {
  color: #8b5aa8;
  text-decoration: underline;
}
/* CONTENIDO CENTRAL */

main {
  position: absolute;
  top: 220px;
  left: 420px;
  width: 540px;
}


/* MENÚ PRINCIPAL */

.menu-principal {
  white-space: nowrap;
  margin-bottom: 35px;
}

.menu-principal a {
  color: #3b205c;
  text-decoration: none;
  margin-right: 10px;
  font-size: 16px;
}

.menu-principal a:hover {
  color: #8b5aa8;
  text-decoration: underline;
}


/* TEXTO */

main h2 {
  color: #3b205c;
  font-size: 28px;
  margin-bottom: 15px;
}

main p {
  color: #4a3a4f;
  font-size: 17px;
  line-height: 1.6;
}


/* COPYRIGHT */

footer {
  position: absolute;
  bottom: 20px;
  left: 420px;
}
